<form  class="w-screen h-screen flex items-center justify-center" (ngSubmit)="sendForm()">
    <div class="container flex flex-col items-center justify-around parent">
        <div class="w-full items-center justify-center flex flex-col montserrat">
            <label class="m-4 text-white text-xl"> ¿En que empresa trabajas actualmente?</label>
            <app-job-picker></app-job-picker>
        </div>
        <div class="w-full items-center justify-center flex flex-col montserrat">
            <label class="m-4 text-white text-xl"> ¿De que universidad has egresado?</label>
            <app-search-university ></app-search-university>
        </div>
        <div class="w-full items-center justify-center flex flex-col montserrat">
            <label  class="m-4 text-white text-xl">¿Cuantos años de experiencia tienes?</label>
            <app-input-number ></app-input-number>
        </div>
        <div class="w-full items-center justify-center flex flex-col montserrat">
            <label class="text-white m-4 text-xl">¿Cuanto ha sido tu ultimo salario?</label>
            <app-input-text ></app-input-text>
        </div>
        <button mat-raised-button> Enviar </button>
    </div>
</form>